@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    
        <div class="row">
            <div class="col-4">

                <h4 style="justify-content:normal">
                    In this step, you will add GeeksEmployee controller to accept requests related
                    to employee and process these requests. This controller will have Action methods.
                </h4>
            </div>
            <div class="col-4">
                
                <p>
                    In this step, you will add GeeksEmployee controller to accept requests related
                    to employee and process these requests. This controller will have Action methods.

                    To Add a new controller from solution explorer Select Areas -> Select ] -> righ
                    t click on Controllers folder -> Select Add -> Controller ->
                    From Add New Scaffolded Item dialogue box middle pane select MVC Controller Empt
                    y -> click Add -> Enter Name as
                </p>
            </div>
            <div class="col-4">
                <p>
                    To Add a new controller from solution explorer Select Areas -> Select ] -> righ
                    t click on Controllers folder -> Select Add -> Controller ->
                    From Add New Scaffolded Item
                </p>
            </div>
         </div>
        
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
